<% if @og_previewer.errors.any? %>
    // This removes any error messages that were previously generated
    $('#error_explanation').empty();
    $('#og_output').empty();
    $('#error_explanation').show();
    $('#error_explanation').append("<h2><%= pluralize(@og_previewer.errors.count, "error") %> prohibited this from being processed:</h2>");
    $('#error_explanation').append('<ul>');
    <% @og_previewer.errors.full_messages.each do |message| %>
      $('#error_explanation').append("<li><%= message %></li>");
    <% end %>
    $('#error_explanation').append('</ul>');
<% else %>
    $('#error_explanation').empty();
    $('#error_explanation').hide();
    $('#og_output').html('Processing...');
    // Start polling for when job completes
    $(document).ready(function() {
      $(function() {
        setTimeout(getProgress, 250);
      });
      function getProgress() {
        $.ajax({
          url: "<%= og_previewer_progress_path(og_previewer_id: @og_previewer.id, job_id: @og_previewer.job_id) %>",
          method: 'GET',
          dataType: 'html',                   
          success: function(result) {
            $('#og_output').html(result);
            if (result == 'Still Processing...') {
              setTimeout(getProgress, 1000);
            }
          }
        });
      }
    });

<% end %>
